---
import Layout from '@/layouts/Layout.astro';
import Process from '@/components/Process.astro';
import Expertise from '@/components/Expertise.astro';
---

<Layout title="Home">
	<div class="flex flex-col gap-8">
		<Process />
		<Expertise />
	</div>
</Layout>
