---
import { ContactForm } from "./ContactForm";
import { Card, CardContent } from "./ui/card";
import SectionContent from "./ui/section-content.astro";
import SectionHeader from "./ui/section-header.astro";
import Section from "./ui/section.astro";
---

<Section
  id="contact"
  layout="right"
  class="max-w-5xl"
>
  <SectionHeader
    slot="header"
    title="Contact"
    subtitle="Let's Chat"
    description="Need help with a project? Send me some details."
  />
  <SectionContent slot="content">
    <Card>
      <CardContent>
        <ContactForm client:only="react" />
      </CardContent>
    </Card>
  </SectionContent>
</Section>
