---
import { Card, CardContent, CardFooter } from "@/components/ui/card";
import ContactForm from "@/components/ContactForm.vue";
import { Section, SectionContent, SectionHeader } from "@/components/section"
---

<Section
  id="contact"
  layout="right"
  class="max-w-5xl"
>
  <SectionHeader
    slot="header"
    title="Contact"
    subtitle="Let's Chat"
  >
    <p slot="description">
      Need help with a project? Send me some details.
    </p>
  </SectionHeader>
  <SectionContent slot="content">
    <Card>
      <CardContent class="flex flex-col items-center gap-2">
        <ContactForm client:load />
      </CardContent>
      <CardFooter class="justify-center" >
        <a href="/policies/privacy" class="text-xs text-primary hover:text-primary/75 transition-colors">Privacy Policy</a>
      </CardFooter>
    </Card>
  </SectionContent>
</Section>
