---
import Section from "./ui/section.astro";
import ExperienceCarousel from './ExperienceCarousel.astro';
import SectionHeader from "./ui/section-header.astro";
import SectionContent from "./ui/section-content.astro";
---

<Section id="experience">
  <SectionHeader
    slot="header"
    title="Experience"
    subtitle="Badges Collected"
    description="Companies I've worked at and with."
    orientation="center"
  />
  <SectionContent slot="content" class="relative -mx-4 w-full max-w-6xl">
    <div class="absolute left-0 h-full w-10 z-50 bg-gradient-to-r from-background to-transparent pointer-events-none" />
    <div class="absolute right-0 h-full w-10 z-50 bg-gradient-to-l from-background to-transparent pointer-events-none" />
    <ExperienceCarousel />
  </SectionContent>
</Section>
