---
import { Section, SectionContent, SectionHeader } from "@/components/section";
import ExperienceCarousel from '@/components/ExperienceCarousel.astro';
import { Badge } from "@/components/ui/badge";
---

<Section id="experience">
  <SectionHeader
    slot="header"
    title="Experience"
    subtitle="Badges Collected"
    orientation="center"
  />
  <SectionContent slot="content" class="flex flex-col items-center gap-12 max-w-6xl">
    <div class="w-full">
      <ExperienceCarousel />
    </div>
    <div>
      <Badge class="w-24">Employed</Badge> <Badge variant="secondary" class="w-24">Contracted</Badge>
    </div>
  </SectionContent>
</Section>
