---
import Section from "./ui/section.astro";
import ExperienceCarousel from './ExperienceCarousel.astro';
import SectionHeader from "./ui/section-header.astro";
import SectionContent from "./ui/section-content.astro";
import { Badge } from "./ui/badge";
---

<Section id="experience">
  <SectionHeader
    slot="header"
    title="Experience"
    subtitle="Badges Collected"
    orientation="center"
  />
  <SectionContent slot="content" class="flex flex-col items-center gap-12 max-w-6xl">
    <div class="w-full">
      <ExperienceCarousel />
    </div>
    <div>
      <Badge className="w-24 bg-primary text-primary-foreground">Employed</Badge> <Badge className="w-24 bg-secondary text-secondary-foreground">Contracted</Badge>
    </div>
  </SectionContent>
</Section>
