---
import { cn } from '@/lib/utils'

interface Props {
  homepageHref: string
  style?: "employed" | "contracted"
  class?: string
}

const { homepageHref, style = "employed", class: className = "" } = Astro.props
---

<a
  href={homepageHref}
  class={cn(
    "border rounded-full size-40 p-3 border-muted-foreground bg-muted",
    className
  )}
>
  <div class={cn(
    "border border-dashed border-muted-foreground size-full rounded-full overflow-clip p-2 flex justify-center items-center bg-white ring-4 ring-offset-2",
    style === "employed" ? "ring-primary" : "ring-secondary"
  )}>
    <slot />
  </div>
</a>
