---
import ExpertiseItem from "./ExpertiseItem.astro"
import SectionContent from "./ui/section-content.astro"
import SectionHeader from "./ui/section-header.astro"
import Section from "./ui/section.astro"

import {
  BackpackIcon,
  BinocularsIcon,
  CloudSunIcon,
  TentIcon,
  DraftingCompassIcon,
  MapIcon
} from "lucide-vue-next"
---

<Section
  id="expertise"
>
  <SectionHeader
    slot="header"
    title="Expertise"
    subtitle="Things I Can Do"
    orientation="right"
  />
  <SectionContent slot="content" class="flex flex-col sm:grid sm:grid-cols-2 max-w-7xl">
    <ExpertiseItem
      title="System Anaylsis"
      description="Develop an understanding of the breadth and depth of your system, and the relationships and interactions between the various parts."
      class="border-b border-dashed border-muted-foreground py-4 sm:border-r sm:pr-4 xl:p-8"
    >
      <BinocularsIcon slot="icon" />
    </ExpertiseItem>
    <ExpertiseItem
      title="System Architecture"
      description="Design solutions that incorporate and consider all aspects of a system."
      iconSide="right"
      class="border-b border-dashed border-muted-foreground py-4 sm:pl-4 xl:p-8"
      >
      <DraftingCompassIcon slot="icon" />
    </ExpertiseItem>
    <ExpertiseItem
      title="Software Prototyping"
      description="Exploratory software development to better understand the solution you want, and really need."
      class="border-b border-dashed border-muted-foreground py-4 sm:pr-4 sm:border-r xl:p-8"
    >
      <MapIcon slot="icon"/>
    </ExpertiseItem>
    <ExpertiseItem
      title="Software Development"
      description="Implement well-designed code, enabling future growth and reducing maintenance overhead."
      iconSide="right"
      class="border-b border-dashed border-muted-foreground py-4 sm:pl-4 xl:p-8"
    >
      <TentIcon slot="icon"/>
    </ExpertiseItem>
    <ExpertiseItem
      title="Cloud Integration"
      description=" Introduce new cloud services into existing systems or processes, or migrate existing non-cloud systems to the cloud."
      class="border-b border-dashed border-muted-foreground py-4 sm:border-b-0 sm:border-r sm:pr-4 xl:p-8"
    >
      <CloudSunIcon slot="icon"/>
    </ExpertiseItem>
    <ExpertiseItem
      title="Rucksack"
      description="Java, JavaScript/TypeScript, React, MySQL/SQL, AWS, and more…"
      iconSide="right"
      class="py-4 sm:pl-4 xl:p-8"
    >
      <BackpackIcon slot="icon"/>
    </ExpertiseItem>
  </SectionContent>
</Section>
