---
import { cn } from '@/lib/utils'

interface Props {
  homepageHref: string
  style?: "employed" | "contracted"
  class?: string
}

const { homepageHref, style = "employed", class: className = "" } = Astro.props
---

<a
  href={homepageHref}
  class={cn(
    "border border-dashed rounded-full size-40 p-4",
    style === "employed" ? "border-muted-foreground bg-muted" : "border-tertiary bg-tertiary-foreground",
    className
  )}
>
  <div class={cn(
    "border border-dashed size-full bg-white rounded-full overflow-clip flex justify-center items-center",
    style === "employed" ? "border-muted-foreground" : "border-tertiary"
  )}>
    <slot />
  </div>
</a>
