---
import { cn } from '@/lib/utils'
import Typography from './ui/typography.astro'
import Glyph from './Glyph.astro'

interface Props {
  title: string
  description: string
  iconSide?: "left" | "right"
  class?: string
}

const { title, description, iconSide = "left", class: className = "" } = Astro.props
---

<div class={cn(
  "flex flex-col items-center gap-4",
  iconSide == "left" ? "md:flex-row" : "md:flex-row-reverse",
  className
)}>
  <Glyph type="square">
    <slot name="icon" />
  </Glyph>
  <Typography class="text-center h-full">
    <h4>{title}</h4>
    <p>{description}</p>
  </Typography>
</div>
