---
import Section from "./ui/section.astro";
import ExperienceCarousel from './ExperienceCarousel.astro';
import SectionHeader from "./ui/section-header.astro";
import SectionContent from "./ui/section-content.astro";
---

<Section id="experience">
  <SectionHeader
    slot="header"
    title="Experience"
    subtitle="Badges Collected"
    description="Companies I've worked at and with."
    orientation="center"
  />
  <SectionContent slot="content" class="w-full max-w-6xl">
    <ExperienceCarousel />
  </SectionContent>
</Section>
