---
import { Image } from 'astro:assets'

import Badge from "./Badge.astro";
import Section from "./ui/section.astro";
import Typography from './ui/typography.astro';

import logo from "@/assets/logo-geoware.png"
---

<Section id="experience" class="max-w-5xl">
  <Typography class="w-full max-w-5xl mx-auto mb-8 prose-h2:mt-2 text-right">
    <h5>Collected Badges</h5>
    <h2>Experience</h2>
    <p>Companies I've worked with.</p>
  </Typography>
  <div class="flex flex-wrap justify-center md:justify-between">
    <Badge topLine="Geoware" bottomLine="2021">
      <Image src={logo} alt="Geoware Inc. logo." />
    </Badge>
  </div>
</Section>
