---
import Section from "./ui/section.astro";
import ExperienceCarousel from './ExperienceCarousel.astro';
import SectionHeader from "./ui/section-header.astro";
import SectionContent from "./ui/section-content.astro";
import { Badge } from "./ui/badge";
---

<Section id="experience">
  <SectionHeader
    slot="header"
    title="Experience"
    subtitle="Badges Collected"
    orientation="center"
  >
    <p slot="description">
      <Badge className="w-24">Employed</Badge> + <Badge className="w-24">Contracted</Badge>
    </p>
  </SectionHeader>
  <SectionContent slot="content" class="w-full max-w-6xl">
    <ExperienceCarousel />
  </SectionContent>
</Section>
