---
import { Image } from 'astro:assets'
import ExperienceBadge from "./ExperienceBadge.astro"

import axonify from "@/assets/logo-axonify.svg"
import geoware from "@/assets/logo-geoware.png"
import shopify from "@/assets/logo-shopify.svg"
---

<div id="experience-carousel" class="overflow-hidden mask-x-from-90% mask-x-to-100%">
  <div class="grid grid-flow-col auto-cols-[50%] sm:auto-cols-[calc(100%/3)]">
    <div class="flex justify-center">
      <ExperienceBadge homepageHref="https://axonify.com/">
        <Image src={axonify} width={108} height={108} alt="Axonify Inc. logo." class="select-none" />
      </ExperienceBadge>
    </div>
    <div class="flex justify-center">
      <ExperienceBadge homepageHref="https://geowareinc.com/" style="contracted">
        <Image src={geoware} alt="Geoware Inc. logo." class="select-none" />
      </ExperienceBadge>
    </div>
    <div class="flex justify-center">
      <ExperienceBadge homepageHref="https://www.shopify.com">
        <Image src={shopify} width={64} height={64} alt="Shopify Inc. logo." class="select-none" />
      </ExperienceBadge>
    </div>
  </div>
</div>

<script>
  import EmblaCarousel from "embla-carousel"

  document.addEventListener("astro:page-load", () => {
    const carousel = document.getElementById("experience-carousel") as HTMLElement | null
    if (carousel) {
      EmblaCarousel(carousel, { loop: true, startIndex: 1 })
    }
  })
</script>
