---
import Section from "./ui/section.astro";
import Typography from "./ui/typography.astro";

---

<div class="bg-gradient-to-b from-accent to-background inset-shadow-sm -mx-4 px-4 -mt-16 mb-20">
  <div class="flex justify-end max-w-5xl mx-auto pt-10 my-10 lg:my-20">
    <Typography class="w-full max-w-sm sm:max-w-2xl sm:prose-h2:text-6xl sm:prose-h5:text-3xl sm:prose-h6:text-2xl prose-h2:mt-4 text-right prose-h2:border-muted-foreground">
      <h5>Discover. Explore. Build.</h5>
      <h2>Side Trails<br/>Software Development</h2>
      <h6>Building + Rebuilding Software Systems</h6>
    </Typography>
  </div>
</div>
