---
import Section from "./ui/section.astro"
import Typography from "./ui/typography.astro"
import Values from "./Values"
import { Image } from "astro:assets"

import image from "@/assets/headshot.jpeg"
---

<Section
  id="me"
  title="A Little About Me"
  subtitle={["\"The unexamined life is not worth living.\"", "Socrates"]}
>
  <div class="flex flex-wrap gap-8">
    <div class="flex flex-col sm:flex-row items-center gap-8">
      <Image
        src={image}
        width={image.width}
        height={image.height}
        alt="A dashing headshot of myself."
        loading="eager"
        class="rounded-xl overflow-clip max-w-2xs mx-auto"
      />
      <div class="flex flex-col gap-4 text-2xl sm:text-4xl">
        <hr />
        Hey, my name is Spencer, and I'm Side Trails Software Development!
        <hr />
      </div>
    </div>
    <Typography class="">
      <p>
        I'm an avid gamer, and have been for most of my life. As a kid my mind was constantly inundated with ideas on how to improve the games I was playing, or how I'd build a game with more interesting mechanics. This drove me towards software development, where I had hoped one day I'd be able to bring those ideas to life. Over the course of my career, I discovered that this behaviour wasn't exclusive to games. I found a passion for solving interesting and complex problems, and realized that what I enjoyed was the ability to bring systems to life.
      </p>
      <p>
        I've been described as a thinker. For much of my life I had a hunch I spent more time in my head than many of my peers. It wasn't until I started my career that I learned just how much more I think about problems. Given an interesting enough problem, my brain plugs away at it until I'm satisfied I both understand it well enough, and have an adequate solution.
      </p>
      <p>
        I like to ask a lot of questions, and often I'll respond to questions with more questions. I want to make sure I understand the question well enough before I provide an answer. Otherwise, how can I know if the answer is actually helpful or not?
      </p>
    </Typography>
    <Values className="w-full" client:idle />
  </div>
</Section>
