---
import { Image } from "astro:assets"
import Section from "./ui/section.astro"
import Typography from "./ui/typography.astro"
import SectionHeader from "./ui/section-header.astro"
import SectionContent from "./ui/section-content.astro"

import headshot from "@/assets/headshot.jpeg"
---

<Section id="me" class="max-w-4xl">
  <SectionHeader
    slot="header"
    title="About Me"
    subtitle="Hey, my name is Spencer!"
    orientation="right"
  >
    <h6 slot="description">How you do anything is how you do everything.</h6>
    <div slot="image" class="border-b border-r border-dashed border-secondary pb-2 pr-2 rounded-br-2xl max-sm:mx-auto">
      <Image
        src={headshot}
        alt="A dashing headshot of myself."
        loading="eager"
        class="rounded-xl max-w-2xs shadow-sm max-sm:ml-2"
      />
    </div>
  </SectionHeader>
  <SectionContent slot="content" class="mt-4">
    <Typography>
      <p>
        I'm an avid gamer, and have been for most of my life. As a kid my mind was constantly inundated with ideas on how to improve the games I was playing, or how I'd build a game with more interesting mechanics. This drove me towards software development, where I had hoped one day I'd be able to bring those ideas to life. Over the course of my career, I discovered that this behaviour wasn't exclusive to games. I found a passion for solving interesting and complex problems, and realized that what I enjoyed was the ability to bring systems to life.
      </p>
      <p>
        I've been described as a thinker. For much of my life I had a hunch I spent more time in my head than many of my peers. It wasn't until I started my career that I learned just how much more I think about problems. Given an interesting enough problem, my brain plugs away at it until I'm satisfied I both understand it well enough, and have an adequate solution.
      </p>
      <p>
        I like to ask a lot of questions, and often I'll respond to questions with more questions. I want to make sure I understand the question well enough before I provide an answer. Otherwise, how can I know if the answer is actually helpful or not?
      </p>
    </Typography>
  </SectionContent>
</Section>
