---
import SectionHeader from "./ui/section-header.astro";
import Section from "./ui/section.astro";
import Typography from "./ui/typography.astro";

---

<Section id="philosophy">
  <SectionHeader
    slot="header"
    title="Philosophy"
    subtitle="Boy Scout Rule"
  >
    <p slot="description">
      Leave things better than you found them.
    </p>
  </SectionHeader>
</Section>
