---
import { cn } from "@/lib/utils";
import Typography from "./ui/typography.astro";

interface Props {
  title: string
  description: string
  footer: string
  imageSrc: string
  imagePosition?: "left" | "right"
}

const {
  title,
  description,
  footer,
  imageSrc,
  imagePosition = "right"
} = Astro.props
---

<div class={cn(
  "bg-card text-card-foreground rounded-xl border shadow-sm overflow-clip flex flex-wrap sm:flex-nowrap items-center justify-center sm:justify-start",
  imagePosition == "right" ? "flex-row-reverse lg:ml-52" : "lg:mr-52"
)}>
  <img
    src={imageSrc}
    class={cn("bg-muted mt-4 sm:mt-0 max-w-52 max-h-52 overflow-clip rounded-xl sm:rounded-none", imagePosition == "right" ? "sm:border-l" : "sm:border-r")}
  />
  <Typography class={cn("p-4 text-center sm:text-left", imagePosition == "right" ? "" : null)}>
    <h4>{title}</h4>
    <p>{description}</p>
    <p class="text-muted-foreground">{footer}</p>
  </Typography>
</div>
