---
import Section from "./ui/section.astro"

import discoverImage from "@/assets/discover.png"
import exploreImage from "@/assets/explore.png"
import buildImage from "@/assets/build.png"

import { TentTreeIcon, LineSquiggleIcon, FlagIcon } from "lucide-react"
import ProcessItem from "./ProcessItem.astro"
import ProcessImage from "./ProcessImage.astro"
import Glyph from "./Glyph.astro"
import SectionHeader from "./ui/section-header.astro"
import SectionContent from "./ui/section-content.astro"
---

<Section id="process">
  <SectionHeader
    slot="header"
    title="Process"
    subtitle="Side Trailing"
  >
    <p slot="description">
      Deep understanding. Close collaboration. High-quality solutions.
    </p>
  </SectionHeader>
  <SectionContent slot="content" class="flex flex-col items-start md:items-center gap-4 max-w-7xl">
    <Glyph type="round" class="border-dashed">
      <TentTreeIcon />
    </Glyph>
    <ProcessItem
      title="Discover"
      subtitle="Uncover known-knowns and known-unknowns"
      imagePosition="right"
    >
      <ProcessImage
        slot="image"
        src={discoverImage}
        alt="Illustraion of a map and a drawing compass"
        loading="eager"
      />
      <p slot="description">
        What are you trying to achieve? What existing software solutions do you have? What are the non-negotiable vs. the nice-to-haves requirements?
      </p>
    </ProcessItem>
    <Glyph type="round" class="border-dashed">
      <LineSquiggleIcon className="rotate-45" />
    </Glyph>
    <ProcessItem
      title="Explore"
      subtitle="Deep dive and mental model building"
      imagePosition="left"
    >
      <ProcessImage
        slot="image"
        src={exploreImage}
        alt="Illustration of a hiking backpack."
        loading="eager"
      />
      <p slot="description">
        What are the various systems and processes? How do they interact? What are the first principles?
      </p>
    </ProcessItem>
      <Glyph type="round" class="border-dashed">
      <LineSquiggleIcon className="rotate-45" />
    </Glyph>
    <ProcessItem
      title="Build"
      subtitle="From prototype to solution"
      imagePosition="right"
    >
      <ProcessImage
        slot="image"
        src={buildImage}
        alt="Illustration of a mountain with a flag at the peak."
        loading="eager"
      />
      <p slot="description">
        Discovery and exploration remain ongoing. There will always be more questions to ask and answer throughout the process, always more side trails to explore.
      </p>
    </ProcessItem>
    <Glyph type="round" class="border-dashed">
      <FlagIcon />
    </Glyph>
  </SectionContent>
</Section>
