---
import TrailItem from "./TrailItem.astro"
import Typography from "./ui/typography.astro"
import { cn } from "@/lib/utils"

interface Props {
  title: string
  subtitle: string
  imagePosition: "left" | "right"
}

const { title, subtitle, imagePosition } = Astro.props
---

<TrailItem class={imagePosition === "left" ? "flex-col" : "flex-col-reverse"}>
  <slot name="image" slot={imagePosition} />
  <Typography
    slot={imagePosition == "left" ? "right" : "left"}
    class={cn(
      "prose-h2:text-2xl",
      imagePosition == "left" ? "md:text-left" : "md:text-right"
    )}
  >
    <h5>{title}</h5>
    <h2>{subtitle}</h2>
    <slot name="description" />
  </Typography>
</TrailItem>
