---
import Typography from "./ui/typography.astro"
import { cn } from "@/lib/utils"

interface Props {
  title: string
  subtitle: string
  description: string
  imagePosition: "left" | "right"
}

const { title, subtitle, description, imagePosition } = Astro.props
---

<Typography class="prose-h4:text-muted-foreground">
  <div class={cn(
    "flex border-l border-dashed ml-7 pl-8",
    "md:grid md:grid-cols-2 md:border-none md:divide-x divide-dashed md:ml-0 md:pl-0",
    imagePosition == "left" ? "flex-col" : "flex-col-reverse"
  )}>
    {imagePosition == "left"
      ? <div class={cn("flex md:justify-end items-center md:pr-10")}>
          <slot name="image" />
        </div>
      : null
    }
    <div class={cn(
      imagePosition == "left" ? "md:text-left md:pl-10" : "md:text-right md:pr-10"
    )}>
      <h4>{title}</h4>
      <h2>{subtitle}</h2>
      <p>{description}</p>
    </div>
    {imagePosition == "right"
      ? <div class="flex justify-start items-center md:pl-10">
          <slot name="image" />
        </div>
      : null
    }
  </div>
</Typography>
