---
import ProcessCard from "./ProcessCard.astro";
import Section from "./ui/section.astro";
---

<Section
  id="process"
>
  <ProcessCard
    title="Discover"
    description="First, let's discover what your business needs/technical challenges are all about."
    footer="What are you trying to achieve? What existing software solutions do you have? What are the non-negotiable vs. the nice-to-haves requirements?"
    imageSrc="./discover.png"
  />
  <ProcessCard
    title="Explore"
    description="Second, let's explore these business needs/technical challenges to establish a shared and deep understanding."
    footer="What are the various systems and processes? How do they interact? What are the first principles? Close collaboration is key."
    imageSrc="./explore.png"
    imagePosition="left"
  />
  <ProcessCard
    title="Build"
    description="Third, let's build the solution."
    footer="Discovery and exploration remain ongoing. There will always be more questions to ask and answer throughout the process, always more side trails to explore."
    imageSrc="./build.png"
  />
</Section>
