---
import TrailItem from "@/components/TrailItem.astro"
import { Badge } from "@/components/ui/badge"
import Typography from "@/components/Typography.astro"
import { cn } from "@/lib/utils"

interface Props {
  title: string
  subtitle: string
  keywords?: string[]
  imagePosition: "left" | "right"
}

const { title, subtitle, keywords = [], imagePosition } = Astro.props

const isImageLeft = imagePosition === "left"
---

<TrailItem class={isImageLeft ? "flex-col" : "flex-col-reverse"}>
  <slot name="image" slot={imagePosition} />
  <Typography
    slot={isImageLeft ? "right" : "left"}
    class={cn(
      "prose-h2:text-2xl",
      imagePosition == "left" ? "md:text-left" : "md:text-right"
    )}
  >
    <h2>{title}</h2>
    <!-- <h6>{subtitle}</h6> -->
    <slot name="description" />
    <div class={cn(
      "flex flex-wrap gap-2",
      isImageLeft ? "justify-start" : "md:justify-end"
    )}>
      {keywords.map((keyword) => <Badge variant="outline">{keyword}</Badge>)}
    </div>
  </Typography>
</TrailItem>
