<footer class="bg-gradient-to-t from-accent to-transparent py-16">
  <div class="flex flex-col sm:flex-row items-center sm:justify-center gap-2 text-accent-foreground text-sm">
    <div>
      &copy; {new Date().getFullYear()} Side Trails Software Development
    </div>
    <div class="max-sm:hidden">-</div>
    <div>
      Spencer Haan
    </div>
  </div>
  </div>
</footer>
