---
import { Image } from "astro:assets"
import { Card, CardContent } from "@/components/ui/card"
import SectionContent from "./ui/section-content.astro"
import SectionHeader from "./ui/section-header.astro"
import Section from "./ui/section.astro"
import Typography from "./ui/typography.astro"

import image from "@/assets/headshot-mitch.jpeg"
import DecoratedImage from "./ui/decorated-image.astro"
---

<Card class="m-4 shadow-md">
  <CardContent class="max-md:p-0">
    <Section id="testimonial" class="max-w-5xl">
      <SectionHeader
        slot="header"
        title="Testimonial"
        subtitle="Mitch Dickinson"
        orientation="right"
      >
        <DecoratedImage
          slot="image"
          src={image}
          alt="Headshot of my former manager, Mitch."
        />
        <div slot="description">
          Senior Development Manager
        </div>
        <div slot="description">
          Shopify Inc.
        </div>
      </SectionHeader>
      <SectionContent slot="content">
        <Typography class="mt-4">
          <p>
            &quot;I was Spencer's direct or indirect manager for approximately 5 years across 2 companies.
          </p>
          <p>
            Spencer is one of the strongest and deepest thinkers I know. His drive to fully understand concepts and systems from first principles leads to his ability to spot insights and create innovative solutions that others would not. He excels at building long term solutions that can stand the test of time.
          </p>
          <p>
            Spencer produces the best outcomes when the client's values align with his way of approaching problems. Values like building for the long term, striving for the highest quality and shipping solutions that are predicated on deep problem understanding. When those values are aligned, magic can happen.&quot;
          </p>
        </Typography>
      </SectionContent>
    </Section>
  </CardContent>
</Card>
