---
import { cn } from "@/lib/utils"
import Typography from "@/components/Typography.astro"

interface Props {
  heading: string
  class?: string
}

const { heading, class: className = "" } = Astro.props
---

<Typography class={cn(
  "prose-p:last:mb-0",
  className
)}>
  <h4>
    {heading}
  </h4>
  <slot name="description" />
</Typography>
