---
import "../styles/global.css";

const { title } = Astro.props
---

<html>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
		<title>{title}</title>
	</head>
	<body>
		<div class="flex flex-col min-h-screen font-base">
			<!-- <Header hero={hero}/> -->
			<main class="flex flex-col flex-1">
				<!-- <LayoutContext.Provider value={{ setHero, clearHero }}> -->
					<slot />
				<!-- </LayoutContext.Provider> -->
			</main>
			<footer class="flex flex-row items-center py-2 md:py-4 md:px-8 bg-zinc-800 text-white">
				<div class="hidden md:block">
					<!-- <MediaLinks.Source size={24}/> -->
				</div>
				<div class="flex flex-wrap flex-1 justify-center gap-1 text-xs md:text-sm italic">
					<p>
						&copy; {new Date().getFullYear()} Side Trails Software Development, Spencer Haan.
					</p>
					<p>
						All rights reserved.
					</p>
				</div>
				<div class="hidden md:block">
					<div class="flex flex-row gap-2">
						<!-- <MediaLinks.LinkedIn size={24}/>
						<MediaLinks.GitHub size={24}/> -->
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>
