---
import "@/styles/global.css"
import "sonner/dist/styles.css" // https://github.com/withastro/astro/issues/9350

import { ClientRouter } from "astro:transitions"
import Navigator, { type NavigatorLink } from "@/components/Navigator"
import { Toaster } from "@/components/ui/sonner"

const navLinks: NavigatorLink[] = [
	{
		label: "Home",
		path: "/",
	},
	{
		label: "How I Work",
		path: "/how-i-work",
	},
]

const { title } = Astro.props
---

<html lang="en" class="light">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body>
		<Toaster position="top-center" theme="light" transition:persist client:load />
		<div class="flex flex-col min-h-screen font-base">
			<header class="sticky top-0 z-50 flex justify-center">
				<Navigator links={navLinks} transition:persist client:load />
			</header>
			<!-- <Header hero={hero}/> -->
			<main class="flex flex-col flex-1 p-4">
				<!-- <LayoutContext.Provider value={{ setHero, clearHero }}> -->
					<slot />
				<!-- </LayoutContext.Provider> -->
			</main>
			<footer class="p-2 bg-accent text-accent-foreground">
				<div class="text-center text-xs md:text-sm">
					&copy; {new Date().getFullYear()} Side Trails Software Development, Spencer Haan
				</div>
			</footer>
		</div>
	</body>
</html>
