---
import "@/styles/global.css"
import "sonner/dist/styles.css" // https://github.com/withastro/astro/issues/9350

import { ClientRouter } from "astro:transitions"
import { Toaster } from "@/components/ui/sonner"
import SiteHeader from "@/components/SiteHeader.astro"
import SiteFooter from "@/components/SiteFooter.astro"

const { title } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<link rel="icon" type="image/png" href="/favicon.png" />
		<ClientRouter />
	</head>
	<body>
		<Toaster position="top-center" theme="light" transition:persist client:load />
		<div class="flex flex-col min-h-screen">
			<SiteHeader class="sticky top-0 z-50" />
			<main class="grow flex flex-col items-center gap-y-16">
				<slot />
			</main>
			<SiteFooter />
		</div>
	</body>
</html>
