---
import "@/styles/global.css"

import { ClientRouter } from "astro:transitions";
import Navigator, { type NavigatorLink } from "@/components/Navigator"

const navLinks: NavigatorLink[] = [
	{
		label: "Home",
		path: "/",
	},
	{
		label: "How I Work",
		path: "/how-i-work",
	},
]

const { title } = Astro.props
---

<html>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body>
		<div class="flex flex-col min-h-screen font-base">
			<header class="flex justify-center">
				<Navigator links={navLinks} transition:persist client:load />
			</header>
			<!-- <Header hero={hero}/> -->
			<main class="flex flex-col flex-1 p-4">
				<!-- <LayoutContext.Provider value={{ setHero, clearHero }}> -->
					<slot />
				<!-- </LayoutContext.Provider> -->
			</main>
			<footer class="flex flex-row items-center py-1 md:py-2 bg-accent text-accent-foreground">
				<div class="flex flex-wrap flex-1 justify-center gap-1 text-xs md:text-sm">
					<p>
						&copy; {new Date().getFullYear()} Side Trails Software Development, Spencer Haan.
					</p>
					<p>
						All rights reserved.
					</p>
				</div>
			</footer>
		</div>
	</body>
</html>
