---
import "@/styles/global.css"

import { ClientRouter } from "astro:transitions";
import IconLink from "@/components/IconLink.astro"
import Navigator, { type NavigatorLink } from "@/components/Navigator"

const navLinks: NavigatorLink[] = [
	{
		label: "Home",
		path: "/",
	},
	{
		label: "How I Work",
		path: "/how-i-work",
	},
]

const { title } = Astro.props
---

<html>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body>
		<div class="flex flex-col min-h-screen font-base">
			<header class="flex justify-center">
				<Navigator links={navLinks} transition:persist client:load />
			</header>
			<!-- <Header hero={hero}/> -->
			<main class="flex flex-col flex-1">
				<!-- <LayoutContext.Provider value={{ setHero, clearHero }}> -->
					<slot />
				<!-- </LayoutContext.Provider> -->
			</main>
			<footer class="flex flex-row items-center py-2 md:py-4 md:px-8 bg-zinc-800 text-white">
				<div class="hidden md:block">
					<IconLink to="https://github.com/SpencerHaan/side-trails-dev" name="tabler:code" />
				</div>
				<div class="flex flex-wrap flex-1 justify-center gap-1 text-xs md:text-sm italic">
					<p>
						&copy; {new Date().getFullYear()} Side Trails Software Development, Spencer Haan.
					</p>
					<p>
						All rights reserved.
					</p>
				</div>
				<div class="hidden md:block">
					<div class="flex flex-row gap-2">
						<IconLink to="https://www.linkedin.com/in/spencerhaan/" name="fa6-brands:linkedin" />
						<IconLink to="https://github.com/SpencerHaan" name="fa6-brands:square-github" />
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>
