---
import Typography from "@/components/Typography.astro";
import Layout from "@/layouts/Layout.astro";
import { Section, SectionContent, SectionHeader } from "@/components/section";

interface Header {
  title: string
  description?: string
  orientation?: "left" | "center" | "right"
}

interface Props {
  frontmatter: {
    title: string
    header: Header
    description?: string
  }
}


const { frontmatter } = Astro.props
const { header, ...props } = frontmatter
---

<Layout {...props} >
  <Section id="privacy" class="max-w-4xl">
    <SectionHeader slot="header" title={header.title} orientation={header.orientation}>
      {header.description ? <p slot="description">{header.description}</p> : null}
    </SectionHeader>
    <SectionContent slot="content">
      <Typography>
        <slot />
      </Typography>
    </SectionContent>
  </Section>
</Layout>
