---
import { cn } from "@/lib/utils"
import {
  Image,
  type LocalImageProps,
  type RemoteImageProps
} from "astro:assets"

type Props = LocalImageProps | RemoteImageProps

const { class: className, ...props } = Astro.props
---

<div class={cn(
  "border-b-2 border-r-2 border-secondary pb-2 pr-2 rounded-br-2xl max-sm:mx-auto",
  className
)}>
  <Image
    {...props}
    class="rounded-xl max-w-2xs shadow-sm max-sm:ml-2"
  />
</div>
