---
import { cn } from "@/lib/utils"
import Typography from "./typography.astro"

interface Props {
  title: string
  subtitle?: string
  orientation?: "left" | "center" | "right"
  class?: string
}

const {
  title,
  subtitle,
  orientation = "left",
  class: className = ""
} = Astro.props
---

<div class={cn(
  "flex w-full gap-8 items-start",
  orientation == "left" ? "max-sm:flex-col-reverse" : "max-sm:flex-col"
)}>
  {Astro.slots.has("image") && (orientation != "left")
    ? <slot name="image" />
    : null
  }
  <Typography class={cn(
    "w-full max-w-5xl mx-auto mb-12 prose-h2:mt-2",
    orientation == "center"
      ? "text-center"
      : orientation == "left"
      ? "text-left"
      : "text-right",
    Astro.slots.has("image") ? "max-sm:text-center" : null,
    className
  )}>
    <hr class="border-dashed border-muted" />
    {subtitle ? <h5>{subtitle}</h5> : null}
    <h2>{title}</h2>
    <slot name="description" />
  </Typography>
  {Astro.slots.has("image") && orientation == "left"
    ? <slot name="image" />
    : null
  }
</div>
