---
import { cn } from "@/lib/utils"

interface Props {
  id: string
  layout?: "column" | "left" | "right"
  class?: string
}

const { id, layout = "column", class: className = "" } = Astro.props
---

<section id={id} class={cn(
  "mx-auto w-full px-4 first:mt-8",
  className
)}>
  <div class={cn(
    "flex flex-col items-center",
    layout === "right" || layout === "left"
      ? "lg:grid lg:grid-cols-2 lg:gap-x-8"
      : null
  )}>
    {layout == "right" || layout == "column"
      ? <slot name="header" />
      : null
    }
    <slot name="content" />
    {layout == "left"
      ? <slot name="header" />
      : null
    }
  </div>
</section>
