---
import { CompassIcon } from "lucide-vue-next"
import Glyph from "../Glyph.astro"
---

<div class="flex items-center gap-2 w-full my-4 mask-x-from-85% mask-x-to-100% md:mask-x-from-75% md:mask-x-to-90%">
  <hr class="w-full border-dashed" />
  <Glyph type="round" class="border-border border-dashed p-1.5 text-muted-foreground/25">
    <CompassIcon size={12} class="-rotate-45" />
  </Glyph>
  <hr class="w-full border-dashed" />
</div>
