---
import { cn } from "@/lib/utils"

const props = Astro.props
---

<div class={cn(
  "max-w-none prose prose-sm prose-p:text-foreground lg:prose-base",
  "prose-headings:text-foreground prose-headings:scroll-m-20 prose-headings:font-semibold prose-headings:tracking-tight",
  "prose-h1:text-center prose-h1:text-4xl prose-h1:font-extrabold prose-h1:text-balance",
  "prose-h2:border-b prose-h2:border-dashed prose-h2:pb-2 prose-h2:text-3xl prose-h2:first:mt-0",
  "prose-h3:text-2xl prose-h4:text-xl",
  "prose-p:leading-7 prose-p:[&:not(:first-child)]:mt-6",
  props.class
)}>
  <slot />
</div>
